
table.chart td, table.chart th{
    border: 1px solid #EEE;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    empty-cells: show;
    line-height:0;
}
table.chart {
    table-layout: fixed;
    border-spacing:0 0px;
    border-collapse:collapse;
    
    
}
#header-horizontal { 
    position:relative;
    z-index: 1000;
    background-color:white;
    opacity:0.5;
    height:20px;
   
    
}
#mainBody {
    width:95%;
    float:left;
    display:inline-block;
    overflow-x: auto;
    position:relative;
}
#header-vertical {
    position:relative;
    background-color:white;
    opacity:0.5;
    float:left;
    display:inline-block;
    width:5%;
    padding-top:20px;
}
#header-vertical table {
    width:100%;
}

#tool-box {
    
    height: 20px;
    position:absolute;
    right: 25px;
    bottom:50px;
    z-index: 1000;
    display:inline-block;
    opacity: 0.5;
}
.tool {
    padding-left: 2.5px;
    padding-right: 2.5px;
    height: 40px;
}
//ios fixing modal
body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}
chart {
    padding-right:15px;
    padding-left:15px;
    width:100%;
    float:left;
    display:inline-block;
    position:relative;
}

.blocktest {
    width:10%;
    float:left;
    display:inline-block;
}



